extends ../layout.jade

block head
  title Feed Globo de Comentários - Entrar

block content
  .container.home
    .row
      .row
        .col.s3.offset-s4.m3.offset-m5.l4.offset-l4
          img.logo(src='images/globocomlogo.png')
      .col.l4.offset-l4.m5.offset-m4.s6.offset-s3.z-depth-1.box(class=userError ? '' : 'animated fadeInDown')
        form(action='/enter', method='post')
          input(type='hidden', name='_csrf', value=_csrf)
          .row
          .row
            .col.s12
              h5 Preencha para comentar
          .row
            .input-field.col.s10.offset-s1
              input#name( name='name' type='text' autofocus='autofocus' class=userError ? 'invalid' : '')
              label.blue-text(for='name') Nome
            .col.s10.offset-s1(class=userError ? 'animated fadeInDown' : 'hidden')
              label.error O nome não pode ser vazio.
            .file-field.input-field.col.s10.offset-s1
              input.validate.avatar#avatar(name='avatar', type='text' class=avatarError ? 'invalid' : '')
              label.blue-text(for='avatar') Foto de Avatar (Link)
            .col.s10.offset-s1(class=avatarError ? 'animated fadeInDown' : 'hidden')
              label.error Este link não explicitamente é uma imagem.
          .row
            button.waves-effect.waves-light.blue.btn(type='submit' onclick="") Entrar
  //Including js in the bottom for performance
  include ../js.jade

