.comment.box.animated.fadeInDown
   .row
      a.avatar.col.s2
         img.responsive-img.avatar.circle(src=comment.avatar ? comment.avatar : 'images/default_user.jpg')
      .content.col.s9.input-field
         a.author #{comment.author}
         .metadata
            span.date.timeago(sent-at=comment.createdAt, title=comment.createdAt)
         .text !{comment.body}
         if comment.photo
            img.responsive-img.photo(src=comment.photo)
         if comment.video
            img.responsive-img.video(src=comment.video)
            img.responsive-img.play(src='images/video.png')
.divider